Source: yajhfc
Section: comm
Priority: extra
Maintainer: Jonas Wolz <jonas@yajhfc.de>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3
Homepage: http://www.yajhfc.de/

Package: yajhfc
Architecture: all
Depends: openjdk-7-jre | openjdk-6-jre | sun-java6-jre | java5-runtime
Recommends: openjdk-7-jre | openjdk-6-jre | sun-java6-jre
Suggests: ghostscript, libtiff-tools, pdf-viewer, postscript-viewer
Description: Yet Another Java HylaFAX client
 YajHFC is a client program for the HylaFAX fax server, implemented in Java.
 .
 Features:
   * Faxing documents in PostScript, PDF and various other formats
   * Polling faxes
   * Support for generating cover pages from templates
   * Viewing sent and received faxes
   * Phone book (entries can optionally be read from SQL databases or LDAP directories)
   * Visible table columns may be selected in a dialog
   * Supports nine languages: English, French, German, Greek, Italian, Polish, Russian, Spanish and Turkish

Package: yajhfc-faxprinter
Architecture: all
Depends: yajhfc, cups | cupsys, cups-client | cupsys-client, ${misc:Depends}
Description: Install a virtual fax printer for YajHFC
 This package installs a virtual fax printer in CUPS for YajHFC.
 .
 When a user prints to this printer, the output is redirected to YajHFC and
 a "send fax" dialog is shown.
 .
 YajHFC must be running when a user wishes to print to the virtual fax printer.
 Because of that, this package by default automatically adds an autostart link for all 
 desktop environments conforming to the Free Desktop Menu Specification (e.g. KDE, GNOME, XFCE).
 You can use "dpkg-reconfigure yajhfc-faxprinter" to change this.


Package: yajhfc-fopplugin
Architecture: all
Depends: yajhfc, fop
Description: FOP plugin for YajHFC
 This plugin uses Apache FOP to enable XSL-FO and limited ODT support in YajHFC.
 .
 The package itself does not contain Apache FOP, but depends on the respective Debian/Ubuntu package instead.

Package: yajhfc-console
Architecture: all
Depends: yajhfc
Description: Command line only mode for YajHFC
 This package installs the command cyajhfc.
 .
 cyajhfc is an addon to YajHFC which allows to send faxes using a command line interface only, without invoking a graphical user interface.
 .
 The basic configuration must still be done using the graphical interface, however.

Package: yajhfc-pdfplugin
Architecture: all
Depends: yajhfc, libitext5-java
Description: PDF plugin for YajHFC
 This plugin uses iText to add advanced PDF support in YajHFC:
   * PDF cover pages
   * Image to PDF conversion without an external program
   * Text extraction from PDF 
 .
 The package itself does not contain iText, but depends on the respective Debian/Ubuntu package instead.

