linux-pkg/rpm/files/*
util/build.log
winsetup/Output/*
winsetup/RedMonEE/*
winsetup/redmon/*
winsetup/redmon17.zip
winsetup/redmon64/*
winsetup/temp/*
mac-app/dist/*
mac-app/old/*

*~
linux-pkg/printerport-cups.tar.gz
*.old
.*DS_Store

winsetup/jre/*
